.container-fluid {
  padding: 0 5rem;
}
.img img {
  margin-top: 10rem;
  width: 25rem;
}
.login-container {
  display: flex;
  align-items: center;
  text-align: center;
}
form {
  width: 22.5rem;
}
.avatar {
  width: 5.5rem;
}
form h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0.9375rem 0;
  color: #4b4858;
}
.input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 1.5rem 0;
  padding: 0.3rem 0;
  border-bottom: 0.125rem solid #d4dee4;
}
.input-div::after,
.input-div::before {
  content: "";
  position: absolute;
  bottom: -0.125rem;
  width: 0;
  height: 0.125rem;
  background-color: #ffc832;
  transition: 0.3s;
}
.input-div::after {
  right: 50%;
}
.input-div::before {
  left: 50%;
}
.input-div.focus .i i {
  color: #ffc832;
}
.input-div.focus div h5 {
  top: -0.3125rem;
  font-size: 0.9375rem;
}
.input-div.focus::after,
.input-div.focus::before {
  width: 50%;
}
.input-div .one {
  margin-top: 0;
}
.input-div .two {
  margin-bottom: 0.25rem;
}
.i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.i i {
  color: #d4dee4;
  transition: 0.3s;
}
.input-div > div {
  position: relative;
  height: 2.8125rem;
}
.input-div > div h5 {
  position: absolute;
  left: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
  color: #4f748c;
  font-size: 1.125rem;
  transition: 0.3s;
}
.input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #4b4858;
}
a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #4f748c;
  font-size: 0.9rem;
  transition: 0.3s;
}
a:hover {
  color: #ffc832;
  text-decoration: none;
}
.btn {
  display: block;
  width: 100%;
  height: 3.125rem;
  border-radius: 1.5625rem;
  margin: 1rem;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-color: #ffc832;
  text-transform: uppercase;
  cursor: pointer;
  color: #ffffff;
  background-size: 200%;
  transition: 0.5s;
}
.btn:hover {
  background-position: right;
  background-color: #4b4858;
  color: #d4dee4;
}

@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    grid-gap: 5rem;
  }
  form {
    width: 18.125rem;
  }
  form h2 {
    font-size: 2.4rem;
    margin: 0.5rem 0;
  }
  .img img {
    width: 25rem;
  }
}
@media screen and (max-width: 991px) {
  .img {
    display: none;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .login-container {
    justify-content: center;
  }
}
