<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Profile</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="sign up/Sign_up_form.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active" th:if="${user != null}">
                    <a class="nav-link" th:href="@{/{user}(user=${user})}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active" th:unless="${user == null}">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/profile/{id}(id=${user.id})}">Profile</a>   
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row" style="margin-top: 100px;">
            <div class="col img">
                <img style="margin-bottom: 100px;" src="images/undraw_account_490v.svg" alt="Account">
            </div>
            <div class="col login-container">
                <form method="post" th:action="@{/updateUser}" th:object="${user}">
                    <img class="avatar" src="images/undraw_profile_pic_ic5t.svg" alt="Profile">
                    <h2>Welcome</h2>
                    <div class="input-div one">
                        <div class="i">
                            <i class="fa fa-user"></i>
                        </div>
                        <div>
                            <h5>First Name</h5>
                            <input class="input" type="text" id="firstName" th:field="*{firstName}" name="firstName" required>
                        </div>
                    </div>
                    <div class="input-div one">
                        <div class="i">
                            <i class="fa fa-user"></i>
                        </div>
                        <div>
                            <h5>Last Name</h5>
                            <input class="input" type="text" id="lastName" th:field="*{lastName}" name="lastName" required>
                        </div>
                    </div>
                    <div class="input-div one">
                        <div class="i">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div>
                            <h5>Email ID</h5>
                            <input class="input" type="text" id="email" th:field="*{email}" name="email" required>
                        </div>
                    </div>
                    <div class="input-div one">
                        <div class="i">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <div>
                            <h5>Mobile No.</h5>
                            <input class="input" type="text" id="mobileNo" th:field="*{mobileNo}" name="mobileNo" required>
                        </div>
                    </div>
                    <div class="input-div two">
                        <div class="i">
                            <i class="fa fa-lock"></i>
                        </div>
                        <div>
                            <h5>New Password</h5>
                            <input class="input" type="password" id="password" th:field="*{password}" name="password" required>
                        </div>
                    </div>
                    <input type="submit" class="btn" value="Sign Up">
                </form>
            </div>
        </div>
    </div>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
    <script src="sign up/Sign_up_form.js"></script>
</body>

</html>